<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Looking for a software developer/engineer position</h2>
                <hr class="light">
                <p class="text-faded">I recently graduated from the University of California, Merced with a Bachelor's Degree in Computer Science and Engineering. I've been keeping myself busy with interview prep and learning a lot of material on my own, i.e. iOS development, Java language, threading, data structures and algorithms. I am really interested in becoming a front-end developer or an iOS developer. Please feel free to reach out to me!</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Check out my summary and projects below!</a>
            </div>
        </div>
    </div>
</section>
