<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mikeybear/mikeybear.github.io" class="portfolio-box">
                    <img src="img/portfolio/website.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website project
                            </div>
                            <div class="project-name">
                                mikedinhnguyen.github.io 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mikeybear/google-foobar-challenge" class="portfolio-box">
                    <img src="img/portfolio/foobar.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coding Challenge
                            </div>
                            <div class="project-name">
                                My Attempt at Google Foobar
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mikedinhnguyen/Pokemon3D" class="portfolio-box">
                    <img src="img/portfolio/ar_apps.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                augmented reality mobile apps
                            </div>
                            <div class="project-name">
                                Pokemon in 3D and Augmented Ruler
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mikeybear/Good-Choice-app" class="portfolio-box">
                    <img src="img/portfolio/mobile.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                mobile app Personal Projects
                            </div>
                            <div class="project-name">
                                Quiz App, Weather App, Choose Your Own Adventure App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mikeybear/project_penguin_html" class="portfolio-box">
                    <img src="img/portfolio/penguin.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pedestrian Tracking Project
                            </div>
                            <div class="project-name">
                                Project Penguin
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mikeybear/computer-graphics-final-project" class="portfolio-box">
                    <img src="img/portfolio/sample.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics Project
                            </div>
                            <div class="project-name">
                                City Camera Fly-Through
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
